.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackbox{
  width:auto;
  height:auto;
  background-color: hsl(0, 0%, 0%);
  border-radius: 10px;
  text-align: center;
}
.core{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  margin:20px 0 10px 10px;
  justify-content: center;
}
.conceptdes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
